<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Jenis Pembayaran</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/payment">Jenis Pembayaran</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Form Edit Jenis Pembayaran</h3>
                        </div>

                        <!-- form start -->
                        <form action="/payment/edit/<%= payment._id %>?_method=put" method="post">
                            <!-- <form> -->
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <input type="text" name="type" value="<%= payment.type %>" class="form-control" id="type" required
                                        placeholder="Masukan Type Pembayaran">
                                </div>

                                <div class="form-group">
                                    <label>Bank </label>
                                    <div class="select2-purple">
                                        <select class="form-control select2"  multiple="multiple" style="width: 100%;" name="banks" required data-placeholder="Pilih Bank">
                                            <% payment.banks.forEach(bank => { %>
                                                <option value="<%= bank._id %>"
                                                    <% payment.banks.forEach(paymentBank => { %>
                                                        <% if(bank._id.toString === paymentBank._id.toString) { %>
                                                            selected
                                                        <% } %>
                                                    <% }) %>
                                                >
                                                    <%= bank.name %> - <%= bank.nameBank %> - <%= bank.nomorRekening %>
                                                </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </form>
                        <!-- form end -->
                </div>
            </div>
        </div>
        <!-- /.row -->
</div>
</section>
<!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>